html, body{
  height:100%;
}

.container-main{
  width: 50%;
  height: 100%;
  padding:0;
  /*background-color: rgba(50, 16, 236, 0.15);*/
}

.ca-widget-button{
  padding: 0 0 ;
  margin: 0 auto;
}

.widget{
  width: 100%;
  text-align: center;
}

.widget > .type-switch{
  background-color: #e4e4e4;
  margin: 0 auto;
  height: 40px;
}

.widget > .type-switch > .ca-logo{
  position: absolute;
  top: 5px;
  left:20px;
}

.widget > .type-switch > button{
  width: 100px;
  height: 100%;
  margin-right: -4px;
  border-radius: 0px;
}


.widget > .type-switch > button:focus{
  outline: none;
}

.widget > .type-switch > button.current{
  background-color: #CBCBCB;
}

.widget > .type-switch > .html-widget{

}

.widget > .widget-example{
  position: relative;
  height: 200px;
  text-align: center;
  background-color: rgba(92, 101, 154, 0.92);
}

.widget-example > .widget-example-block{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.widget-code{
  margin: 50px 30px;
  padding-bottom: 10px;
  /*background-color: #B1BBED;*/
  text-align: center;r;
}

.widget-code > div:first-child{
  font-size: 16px;
}

.widget-code > textarea {
  display: inline-block;
  text-align: center;
  min-width: 700px;
  border-radius: 4px;
}

.widget-options{
  padding-top: 50px;
  line-height: 30px;
  width: 700px;
  margin: 0 auto;
}

.widget-options > .option{
  width: 100%;
  font-size: 16px;
  display: inline-block;
  margin: 0 auto;
}


.widget-options > .option > label{
  font-weight: normal;
}

.widget-options > .option > select{
  width: 50px;
}
